.contenedor {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.libros {
		width: 33.33333%;
		padding: 20px;
		box-sizing: border-box;
	}
	div {
		font-weight: 700;
		font-size: 2rem;
	}
	p {
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.5;
	}
	img {
		width: 100%;
		max-width: 70px;
	}
	a {
		font-size: 1.2rem;
		margin-top: 30px;
	}